.cta-btn-container {
  display: flex;
  position: relative;
}
.cta-btn-cta-btn {
  color: var(--dl-color-gray-white);
  align-self: stretch;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-primary-100);
}
@media(max-width: 991px) {
  .cta-btn-cta-btn {
    width: 40%;
  }
}
